$rojo-gerencia = #af343b
$plomo = #292929

@import 'normalize.styl'
@import 'header-css.styl'
@import 'footer-css.styl'

@import 'metisMenu.styl'
@import 'menu.styl'


body
	background-image url('../img/bg.jpg')
	background-repeat repeat
	font-family 'ap-light'

// from http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

.side-left
	float left 

.side-right
	float right 

.font-title
	color $rojo-gerencia
	font-family bebas
	&.font1
		font-size 46px
	&.font2
		font-size 30px
	&.font3
		font-size 52px
	


.contenedor
	margin 0 auto
	width 90%
	height 100%
	// background-color rgba(255, 255, 255, .3)

	// BLOQUE ARRIB
	#bloque-up
		max-height 330px
		height 100%
		min-height 200px
		padding 3% 0

		section#main-title
			width 40%
			h1
				border-top 1px solid $rojo-gerencia
				width 100%
				padding-top 5%
			h2
				width 80%
				font-size 20px
				color: #6c6a6a
				padding-bottom 5%
				border-bottom 1px solid $rojo-gerencia

		section#main-img
			width 55%
			max-width 550px
			max-height 270px
			img
				width 90%
				height auto

	// ENLACES
	#enlaces
		nav
			width 100%
			ul
				width 50%
				float left
				background-color black
				text-align left
				margin 0
				font-size 0
				padding 1% 0 1% 5%
				li
					display inline-block
					vertical-align middle
					width 40%
					a
						font-family 'bebas'
						display inline-block
						vertical-align middle
						font-size 20px
						padding 5% 10%
						text-decoration none
						color #ffffff
						text-align center
						transition all 0.3s ease
						&:hover
							background-color white
							color black
	// BLOQUE DEBAJO

	#bloque-down
		height auto
		background-color $rojo-gerencia
		border-top 3px solid #cd4a51
		box-shadow 0 -2px 3px gray
		p
			width 80%
			margin 0 auto
			padding 7% 5% 3% 5%
			color #ffffff
			font-size 15px
			font-family 'Arial'

//QUIENES SOMOS
#main-menu
	width 30%
#contenido
	width 65%
//TO TOP 
#toTop
	display none
	text-decoration none
	position fixed
	bottom 10px
	right 10px
	overflow hidden
	width 51px
	height 51px
	border 0
	text-indent 100%
	background-image url('../img/totop.png')
	background-repeat no-repeat
	background-position left top
	&:active,
	&:focus
		outline 0
	#toTopHover
		background-image url('../img/totop.png')
		background-repeat no-repeat
		background-position left -51px
		width 51px
		height 51px
		display block
		overflow hidden
		float left
		opacity:0
		-moz-opacity 0
		

