$rojo-bajo = #af343b
$rojo-gerencia = #8a0d16
$amarillo-gerencia = #f7edce
$plomo = #292929

@import 'normalize.styl'
@import 'header-css.styl'
@import 'footer-css.styl'

@import 'metisMenu.styl'
@import 'menu.styl'


body
	background-image url('../img/bg.jpg')
	background-repeat repeat
	font-family 'ap-light'

// from http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix
	zoom 1
	&:after
	&:before
		content ""
		display table
	&:after
		clear both

.side-left
	float left 

.side-right
	float right 

.font-title
	color $rojo-gerencia
	font-family bebas
	&.font1
		font-size 46px
	&.font2
		font-size 30px
	&.font3
		font-size 52px
	

.titulo,
.subtitulo
	color $rojo-gerencia
	font-family 'bebas'
	text-align right
.titulo
	font-size 35px
.subtitulo
	font-size 25px
.titulo-article
	font-size 15px
	color $rojo-gerencia
	font-family 'robotoRegular'
	text-transform uppercase
	text-align right
section
	p
		font-size 13px
		color $plomo
		font-family 'robotoRegular'

	span.litle-title
		font-weight bold
	.stripe
		display block
		margin-bottom 15px
		border-bottom 1px solid black
	.list-contenido
		ul
			li
				font-family 'robotoRegular'


.btn-contenidos
	background-color $rojo-gerencia
	padding 10px 30px
	color #ffffff
	font-size 12px
	text-transform uppercase
	text-decoration none
	display inline-block
	font-family 'robotoRegular'
	margin 20px
	text-align right
	&:hover
		color $amarillo-gerencia
		font-size 12px
		text-decoration none
		background-color $rojo-gerencia

.contenedor
	margin 0 auto
	width 1090px
	height 100%
	// background-color rgba(255, 255, 255, .3)

	// BLOQUE ARRIB
	#bloque-up
		max-height 330px
		height 280px
		min-height 200px
		padding 3% 0

		section#main-title
			width 40%
			h1
				border-top 1px solid $rojo-gerencia
				width 100%
				padding-top 5%
			h2
				width 80%
				font-size 20px
				color: #6c6a6a
				padding-bottom 5%
				border-bottom 1px solid $rojo-gerencia

		section#main-slide
			width 630px
			height 400px
			img
				width 100%
				height auto
			#contenedor-slider
				width 670px
				height 402px
				background-image url('../img/bg-slider.png')
				background-repeat: no-repeat
				background-position: bottom center

// ENLACES
.sprite-menu
	background-image url('../img/sprite-menu.png')
	background-repeat no-repeat	
.sprite-menu-quienes
	background-position 0px -100px
.sprite-menu-intro
	background-position 0px 0px
#enlaces
	margin-bottom 40px
	margin-top -60px
	nav
		width 100%
		ul
			width 500px
			float left
			text-align left
			margin 0
			font-size 0
			padding 2% 2% 2% 0px;
			li
				display block
				margin-bottom 5px
				padding 15px 0px 0px 110px
				
				a
					font-family 'bebas'
					color $rojo-gerencia
					display inline-block
					vertical-align middle					
					border-top none
					border-right none
					border-bottom none
					font-size 20px
					text-decoration none
					text-align center
					transition all 0.3s ease
					&:hover
						color $rojo-gerencia
// BLOQUE DEBAJO

#bloque-down
	height auto
	background-color $rojo-bajo
	border-top 5px solid $rojo-gerencia
	box-shadow 0 -2px 3px gray
	p
		width 80%
		margin 0 auto
		padding 7% 5% 3% 5%
		color $amarillo-gerencia
		font-size 15px
		font-family 'Arial'
//MENU SECUNDARIO
#menu_secundario
	width 665px
	background-color $rojo-gerencia
	height 70px
	ul
		padding 15px 0 15px 50px
		li
			display inline-block
			padding 5px 10px
			a
				color #ffffff
				font-size 18px
				font-family 'bebas'
				text-transform uppercase
				margin-top 15px
				padding 10px
				text-decoration none
				border-bottom 3px solid $rojo-gerencia
				&:hover
					color #000000
					text-decoration none
					border-bottom 3px solid #ffffff

//QUIENES SOMOS
#main-menu
	width 30%
#contenido
	width 65%
//TO TOP 
#toTop
	display none
	text-decoration none
	position fixed
	bottom 10px
	right 10px
	overflow hidden
	width 51px
	height 51px
	border 0
	text-indent 100%
	background-image url('../img/totop.png')
	background-repeat no-repeat
	background-position left top
	&:active,
	&:focus
		outline 0
	#toTopHover
		background-image url('../img/totop.png')
		background-repeat no-repeat
		background-position left -51px
		width 51px
		height 51px
		display block
		overflow hidden
		float left
		opacity:0
		-moz-opacity 0
		
.menu-fijo
	position fixed
	top 0
	width 250px

