@font-face {
  font-family: 'ap-regular';
  src: url("../font/antipasto_regular-webfont.eot");
  src: url("../font/antipasto_regular-webfont.eot?#iefix") format('embedded-opentype'),
    url("../font/antipasto_regular-webfont.woff") format('woff'),
    url("../font/antipasto_regular-webfont.ttf") format('truetype'),
    url("../font/antipasto_regular-webfont.svg#antipastoregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ap-light';
  src: url("../font/antipasto_extralight-webfont.eot");
  src: url("../font/antipasto_extralight-webfont.eot?#iefix") format('embedded-opentype'),
  url("../font/antipasto_extralight-webfont.woff") format('woff'),
  url("../font/antipasto_extralight-webfont.ttf") format('truetype'),
  url("../font/antipasto_extralight-webfont.svg#antipastoextralight") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ap-bold';
  src: url("../font/antipasto_extrabold-webfont.eot");
  src: url("../font/antipasto_extrabold-webfont.eot?#iefix") format('embedded-opentype'),
  url("../font/antipasto_extrabold-webfont.woff") format('woff'),
  url("../font/antipasto_extrabold-webfont.ttf") format('truetype'),
  url("../font/antipasto_extrabold-webfont.svg#antipastoextrabold") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bebas';
  src: url("../font/bebasneue-webfont.eot");
  src: url("../font/bebasneue-webfont.eot?#iefix") format('embedded-opentype'),
  url("../font/bebasneue-webfont.woff") format('woff'),
  url("../font/bebasneue-webfont.ttf") format('truetype'),
  url("../font/bebasneue-webfont.svg#bebas_neueregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
