footer
	width 100%
	padding 1%
	border-top 5px solid #ffffff
	background-color $rojo-gerencia

	#side-one,
	#side-two
		display inline-block
		vertical-align middle
	#side-one
		width 35%
		p
			color white
			font-family 'Arial'
			font-size 13px
			width 100%
			margin 0
			a
				text-align right
				color white
				font-family 'Arial'
				font-size 13px
				padding 3% 7%
				display inline-block
				text-decoration none
				&:hover
					text-decoration underline
		
	#side-two
		width 65%
		p
			color white
			font-family 'Arial'
			font-size 13px
			width 100%
			span
				float right

