footer {
  width: 100%;
  padding: 1%;
  border-top: 5px solid #fff;
  background-color: $rojo-gerencia;
}
footer #side-one,
footer #side-two {
  display: inline-block;
  vertical-align: middle;
}
footer #side-one {
  width: 35%;
}
footer #side-one p {
  color: #fff;
  font-family: 'Arial';
  font-size: 13px;
  width: 100%;
  margin: 0;
}
footer #side-one p a {
  text-align: right;
  color: #fff;
  font-family: 'Arial';
  font-size: 13px;
  padding: 3% 7%;
  display: inline-block;
  text-decoration: none;
}
footer #side-one p a:hover {
  text-decoration: underline;
}
footer #side-two {
  width: 65%;
}
footer #side-two p {
  color: #fff;
  font-family: 'Arial';
  font-size: 13px;
  width: 100%;
}
footer #side-two p span {
  float: right;
}
