header
	width 100%
	padding 1%
	height 100%
	background-color #000000

	#logo1,
	#logo2,
	#logo3
		display inline-block
		vertical-align top


	#logo1,
	#logo2,
	#logo3
		a
			background-image url('../img/sprite-logos.png')
			background-repeat no-repeat
			width 185px
			height 60px
			display inline-block
			vertical-align top
			color black
	#logo1
		a
			background-position -10px 4px
	#logo2
		a
			background-position -10px -50px
	#logo3
		a
			background-position -11px -114px