header {
  width: 100%;
  padding: 1%;
  height: 100%;
  background-color: #000;
}
header #logo1,
header #logo2,
header #logo3 {
  display: inline-block;
  vertical-align: top;
}
header #logo1 a,
header #logo2 a,
header #logo3 a {
  background-image: url("../img/sprite-logos.png");
  background-repeat: no-repeat;
  width: 185px;
  height: 60px;
  display: inline-block;
  vertical-align: top;
  color: #000;
}
header #logo1 a {
  background-position: -10px 4px;
}
header #logo2 a {
  background-position: -10px -50px;
}
header #logo3 a {
  background-position: -11px -114px;
}
