extend includes/layout.jade

block content
	.contenedor
		#bloque-up.clearfix
			section#main-title(class='side-left')
				h1 <span class='font-title font1'>Maestría</span>
					<span class='font-title font2'>en</span>
					</br>
					<span class='font-title font3'>Gerencia Social</span>
				h2 Liderando la gestión para el desarrollo
			section#main-slide(class='side-right')
				include includes/slider.html

	#enlaces
		nav.clearfix
			ul
				li.sprite-menu.sprite-menu-quienes
					a(href='quienes-somos.html') ¿Quienes somos?
				li.sprite-menu.sprite-menu-intro
					a(href='introduccion.html') Introducción a la modalidad virtual
	#bloque-down.clearfix
		section
			p.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dsolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

			img(src='img/browsers.png')

