extend includes/layout.jade

block content
	include includes/menu_secundario.jade
	.contenedor
		h1 Introducción
		#main-content.clearfix
			#main-menu.side-left
				include includes/menu-introduccion.html
			#contenido.side-right
				include includes/contenido-introduccion.html

			a(href="#")#toTop
				span#toTopHover




