extend includes/layout.jade

block content
	include includes/menu_secundario.jade
	.contenedor
		h1 ¿Quiénes Somos?
		#main-content.clearfix
			#main-menu.side-left
				include includes/menu-quienes-somos.html
			#contenido.side-right
				include includes/contenido-quienes-somos.html

			a(href="#")#toTop
				span#toTopHover 