doctype
html
	head
		title Título de la página
		meta(charset='UTF-8')
		link(rel='stylesheet', href='css/normalize.css')
		link(rel='stylesheet', href='css/estilos.css')

		script(src="js/html5shiv.js")

		//if lt IE 8
			script(src="js/html5shiv.js")
		
		//- script(src='js/script.js')
	body
		include header.jade
		block content
		include footer.jade