nav#menu_secundario
	ul
		li
			a(href="/web-gerencia/index.html") Inicio
		li
			a(href="/web-gerencia/quienes-somos.html") ¿Quienes Somos?
		li
			a(href="/web-gerencia/introduccion.html") Introducción a la modalidad virtual
.contenedor
	#bloque-up
		section#main-title(class='side-left')
						h1 <span class='font-title font1'>Maestría</span>
							<span class='font-title font2'>en</span>
							</br>
							<span class='font-title font3'>Gerencia Social</span>
						h2 Liderando la gestión para el desarrollo